 body {
    background-color: black;
}

h1 {
    text-align: center;
    margin-top: .5em;
    margin-bottom: .9em;
    color: crimson;
    text-shadow: 5px 5px 5px yellowgreen;
    font-weight: 800;
    font-size: 80px;
}

#giphy-input {
    width: 1010px;
    height: 35px;
}

.button-render {
    color: crimson;
    background-color: yellowgreen
    border-color: crimson;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 80;
    font-weight: 600;
    text-shadow: 3px 2px 5px yellowgreen;
    box-shadow: 3px 3px 5px yellowgreen;
}
p {
    color: crimson;
}

.giphy {
    border: 1px solid #ffd5d5;
    page-break-inside: avoid;
    box-shadow: 9px 9px 5px yellowgreen;
}

.giphy-content {
    column-count: 3;
    column-gap: 1em;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    height: 350px;
    width: 350px;
}