/* body {
    background-color: black;
} */

h1 {
    text-align: center;
    margin-top: .5em;
    margin-bottom: .9em;
    color: crimson;
    text-shadow: 5px 5px 5px yellowgreen;
    font-weight: 800;
    font-size: 60px;
}

#giphy-input {
    width: 1024px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin: 5px;
    border-radius: 5px;
}

.giphy {
    border: 1px solid #ffd5d5;
    page-break-inside: avoid;
}

.giphy-content {
    column-count: 3;
    column-gap: 1em;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    height: 350px;
    width: 350px;
}